{% extends 'base.html' %}
    <!-- Page Content -->
{% block content %}

    <!-- Header -->
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Asociación Balear de Apicultores</h1>
                        <h3>Otra visión de las abejas</h3>
                        <hr class="intro-divider">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /.intro-header -->

	<a  name="quienessomos"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Un poco de historia</h2>
                    <p class="lead"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae felis eu nulla commodo luctus. Curabitur cursus ante sit amet massa luctus mattis. Mauris elementum rutrum augue, porttitor dignissim metus. Duis elementum ullamcorper orci vel consectetur. Nam elementum odio nec risus venenatis volutpat. Proin aliquam quam tellus, ac eleifend velit luctus ut. Quisque ut dolor aliquet, varius erat laoreet, tempor odio. Etiam pharetra tellus ac velit suscipit, quis fringilla mauris ornare. Donec mi justo, mattis ac pharetra at, consectetur et nisi. Sed id dapibus nulla, eget vehicula eros. Sed vehicula tempor tortor. Fusce consequat fringilla sem, at consectetur tortor. Suspendisse id pharetra leo. Vestibulum viverra nisl egestas sem ullamcorper, sit amet interdum dolor faucibus. Phasellus lacinia quis quam a lacinia. Donec bibendum massa vel vehicula venenatis.</p>
                    <p class="lead"> Integer ornare, felis quis luctus efficitur, libero tortor mattis nunc, vitae rutrum nisi neque vitae eros. Aenean non libero interdum, placerat urna sit amet, imperdiet orci. Mauris sed molestie mi. In iaculis venenatis orci. Curabitur fringilla orci elit, id venenatis leo laoreet consectetur. Proin porttitor, justo id tempus tincidunt, quam nisi feugiat turpis, vel volutpat diam lorem eu leo. Sed a dui ac nunc rutrum aliquet a sed nulla. Duis elit arcu, consectetur sed fringilla a, pretium nec ex.</p>
                    <p class="lead"> Nulla facilisi. In luctus ante quam, at vestibulum arcu egestas quis. Nullam nec ante ac lectus sagittis tincidunt quis sed orci. Quisque auctor at eros sit amet ultricies. Aenean id bibendum ante. Cras ac massa auctor, rhoncus purus nec, accumsan turpis. Proin efficitur tempor feugiat. Donec tincidunt eget metus eu fringilla. Praesent nec lorem ac orci lobortis elementum eu vitae elit. Praesent bibendum efficitur lorem, et hendrerit tortor tempus vitae. Nunc suscipit, orci a pretium imperdiet, nulla odio suscipit diam, ac tristique neque dui a arcu. Quisque et nisl scelerisque, elementum nisi eu, ornare massa. Nunc porttitor consectetur nibh. </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/static/img/beestory.png" alt="">
                </div>
            </div>

        </div> -->
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

   <!--  <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">3D Device Mockups<br>by PSDCovers</h2>
                    <p class="lead">Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop actions by <a target="_blank" href="http://www.psdcovers.com/">PSDCovers</a>! Visit their website to download some of their awesome, free photoshop actions!</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/dog.png" alt="">
                </div>
            </div>

        </div> -->
        <!-- /.container -->

    <!-- </div> -->
    <!-- /.content-section-b -->

    <!-- <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Google Web Fonts and<br>Font Awesome Icons</h2>
                    <p class="lead">This template features the 'Lato' font, part of the <a target="_blank" href="http://www.google.com/fonts">Google Web Font library</a>, as well as <a target="_blank" href="http://fontawesome.io">icons from Font Awesome</a>.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/phones.png" alt="">
                </div>
            </div>

        </div> -->
        <!-- /.container -->

    <!-- </div> -->
    <!-- /.content-section-a -->

{% endblock %}